site_name: mkdocs-charts-plugin
site_description: "Mkdocs plugin to include charts in your site."
edit_uri: ''
copyright: 'Copyright &copy; 2021'

theme:
  name: material
  icon:
      repo: fontawesome/brands/github
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"

      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode

nav:
  - index.md
  - options.md
  - contributing.md

plugins:
  - search
  - charts:
      vega_theme: default
      vega_renderer: "canvas"
  - git-revision-date-localized:
      type: timeago
      timezone: Europe/Amsterdam
      locale: en
      fallback_to_build_date: false
      enable_creation_date: true

use_directory_urls: true

markdown_extensions:
  - meta
  - admonition
  - pymdownx.keys
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: vegalite
          class: vegalite
          format: !!python/name:mkdocs_charts_plugin.fences.fence_vegalite
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg
        options:
            custom_icons:
                - site/overrides/.icons

extra_javascript:
  - https://cdn.jsdelivr.net/npm/vega@5
  - https://cdn.jsdelivr.net/npm/vega-lite@5
  - https://cdn.jsdelivr.net/npm/vega-embed@6
